env
__pycache__
.env
frontend/dev.env
frontend/.env
frontend/node_modules
frontend/.gitignore
frontend/coverage
frontend/build
.pytest_cache
.vscode
backend/venv
backend/.env
backend/dev.env
.mypy_cache
backend/.ssh